#project1, #project2, #project3 {
  display: none;
}

.wrap {
    margin: auto;
    width: 50%;
    border: 3px solid ##eeecec;
    padding: 70px;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    align-self: center;
}


.img-wrap {
    margin: auto;
    align-self: center;
    display: block;
}
