#project1, #project2 {
  display: none;
}

.wrap {
    margin: auto;
    width: 50%;
    border: 3px solid #73AD21;
    padding: 70px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

img {
    display: block;
    margin: auto;
    width: 140%;
}
