#project1, #project2, #project3 {
  display: none;
}


.wrap {
    margin: auto;
    width: 50%;
    border: 2px solid #eeecec;
    padding: 70px;
    margin-top: 50px;
}

a {
  color: #3f1f09;
}

img {
    display: block;
    margin: auto;
    width: 80%;
    align-self: center;
}


.footer {
   display: table;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
